body{
    background-color: #d4d6df9d ;
    }

        
@media screen and (max-width: 680px){ 

    body{
        background-color: #dabb9d;
        }
    }

@media screen and (min-width: 681px) and (max-width: 1279px){
    body{
        background-color: #9a8c98;}

        }