body {
    background-color: lightblue;
  }
h2
{ color: blue;
    border: darkblue ridge 2px;
    background-color: rgb(148, 160, 212);
    border-radius: 15px;
    text-align: center;
    width: 85%;   
}
P {
    text-align: left;
    width: 85%;
}
h3 {
    border-bottom: rgb(54, 54, 189) ridge 1px;
    width: fit-content;
}

header {
    text-align: center;
}
.left-bloc h3
{ color:rgb(207, 124, 14);
    border: darkblue ridge 2px;
    background-color: rgb(224, 235, 163)
}

/* Make sure that padding behaves as expected */
* {box-sizing:border-box}

/* Container for skill bars */
.container {
  width: 90%; /* Full width */
  background-color: rgb(230, 215, 215); /* Grey background */
}

.skills {
  text-align: right; /* Right-align text */
  padding-top: 1px; /* Add top padding */
  padding-bottom: 1px; /* Add bottom padding */
  color: white; /* White text color */
}

.htmlcss {width: 20%; background-color: #2196F3;} /* Blue */
.packoffice {width: 60%; background-color: #2196F3;} /* Blue */
.Autocad {width: 60%; background-color: #2196F3;} /* Blue */
.revit {width: 40%; background-color: #2196F3;} /* Blue */
.Github {width: 20%; background-color: #2196F3;} /* Blue */
.espagnol {width: 80%; background-color: #2bb900;} /* Green */
.anglais {width: 30%; background-color: #04AA6D;} /* Green */
